

body {
    background-color: rgb(219, 219, 219);
    margin: 0px;
}


main {
    width: 60%;
    margin: 0px auto 5% auto;
    min-width: 500px;
    font-family: serif;
}

article {
    border: solid grey .5px;
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-collapse: collapse;
}

article:hover > p:first-of-type:first-letter {
    font-weight: 600;
    font-size: 4rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FBAF17; 
}

#header1 {
    width: 60%;
    margin: 0px auto 0px auto;
    min-width: 500px;
    background-color: #004768;
    width: 100% !important;
    color: white;
    font-family: sans-serif;
}

#header2 {
    width: 60%;
    margin: 0px auto 5% auto;
    min-width: 500px;
    background-color: white;
    width: 100% !important;
    font-family: sans-serif;
    text-transform: uppercase;
}

#header1 > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    margin: 0px auto 0px auto;
    padding: 10px 0px 10px 0px;
    min-width: 500px;  
}

#header1 > div > div {
    margin-left: 15px;
}


#header2 > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60%;
    margin: 0px auto 0px auto;
    padding: 20px 0px 20px 0px;
    min-width: 500px;  
}


#header2 > div > div {
    margin-left: 30px;
}

.fa {
    margin-right: 10px;
}

footer {
    height: 175px;
    background-color: white;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: auto;
    min-width: 500px;   
}

#footer-row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 200px;
}

#footer-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    font-size: 20pt;
}

#footer-row2 .fa {
    margin: 0px;
}


